<!doctype html>
<html lang="en">
  <head>
    <title>User Reviews</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="container">
    <div class="row">
        <p class="ml-auto"><a href="/books/">Home</a> <a class="ml-3" href="/books/add/">Add Book and Review</a> <a class="ml-3" href="/logout/">Logout</a></p>
    </div>  
    <div>
      <p>User Alias: {{user.alias}}</p>
      <p>Email: {{user.email}}</p>
      <p>Total Reviews: {{reviewCount}}</p>

      <p>Posted Reviews of the following books:</p>
      <ul>
        {% for review in reviews %}  
        <li><a href="{{review.book.id}}">{{review.book.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>